 body {
	margin: 0;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 15px;
}

h1, h2, h3 {
	text-transform: uppercase;
	margin-top:0;
	margin-right: 0;
	margin-left: 0;
}

a:link, a:visited, a:hover, a:active {
	color: black;
}

.header {
	display: flex;
	background-image: url("https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg");
	height: 250px;
	align-items: center;
}

.header h1 {
	margin-left: 10%;
}

.navbar ul {
	display: flex;
	background: black;
    height: 50px;
    list-style: none;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    justify-content: space-around;
}

.navbar ul li {
	display: flex;
	align-items: center;
}

.wrap1 {
	margin: 0 auto;
	width: 80%;
	padding: 30px 0 10px 0;
}

.inner-grid1, .development, .young-coders, .cor-affairs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.text {
	line-height: 1.5em;
}

.text ul {
	list-style: none;
    display: flex;
    margin-left: 0;
    padding-inline-start: 0;
}

.text ul li {
	font-size: 12px;
	margin-right: 10px;
}

.mail span {
	background-color: yellow;
}

.text button {
	border: 1px solid black;
	padding: 12px 10px;
	font-size: 15px;
	background-color: white;
}

.text button:hover {
	box-shadow: -3px 3px;
	transform: translate(3px, -3px);
}

.video iframe {
	box-shadow: -3px 3px;
}

.video {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    /* box-shadow: -3px 3px #000; */
}
.video iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chat {
	width: 52px;
	height: 52px;
	border: 1px solid black;
	padding: 15px;
	border-radius: 7px;
	color: black;
	position: fixed;
	bottom: 49px;
	left: 93%;
	background-color: black;
	color: white;
}

.wanttobe, .different, .footer {
	background-color: black;
	margin-top: 0;
	color: white;
}

.wanttobe a, .footer a {
	color: white;
}

.wrap2 {
	margin: 0 auto;
	width: 80%;
}

.wrap2 h1, .wrap3 h1 {
	margin-top: 0;
	padding-top: 80px;
}

.inner-grid2, .inner-grid4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 15px;
}

.inner-grid2 h2, .inner-grid4 h2 {
	font-size: 18px;
	height: 2em;
}

.inner-grid2 p, .inner-grid4 p {
	line-height: 1.8em;
}

.inner-grid2 span, .inner-grid4 span {
	font-weight: 800;
}

.inner-grid3 h2 {
	font-size: 20px;
	border-bottom: 1px solid grey;
	grid-column: 1/-1;
}

.inner-grid3 h3 {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 15px;
}

.inner-grid3 p {
	line-height: 1.8em;
}

.development, .young-coders, .cor-affairs {
	border: 1px solid black;
	box-shadow: -3px 3px;
	margin-bottom: 15px;
	padding: 15px 15px;
}

.in-person ul, .on-line ul, .courses ul, .about ul {
	list-style: none;
	padding-inline-start: 0;
} 

.in-person li, .on-line li, .courses ul, .about ul {
	line-height: 2.5;
}

.different {
	background-color: black;
	margin-top: 0;
	color: white;
}

.testing {
	margin-top: 15px;
}

.wrap5 {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.wrap5 h1 {
	margin-top: 0;
	padding-top: 40px;
}

.inner-grid5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 25px;
	grid-row-gap: 5px;
}

.inner-grid5 div {
	display: grid;
	align-items: center;
}

.inner-grid5 div img {
	width: 100%;
	align-content: center;
	filter: grayscale(100%);
}

.inner-grid6 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 15px;
}

.courses ul, .about ul {
	line-height: 2;
}

 .courses a, .about a {
 	text-decoration: none;
 }

 .footer h1 {
 	font-size: 1.5em;
 }

 .copyright {
 	grid-column: 1 / -1
 }

 .small {
 	font-size: 10px;
 }







@media all and (max-width: 460px) {
	.header {
		height: 165px;
	}
	.header h1 {
		font-size: 120%;
	}

	.wrap1, .wrap2 {
		display: inline-block;
		margin-left: 15px;
	}

	.inner-grid1, .inner-grid2, .inner-grid4, .inner-grid6 {
		grid-template-columns: 1fr;
		grid-row-gap: 15px;
	}

	.wrap2 h1, .wrap3 h1, .wrap4 h1 {
		padding-top: 60px;
    	padding-bottom: 30px;
	}

	.inner-grid2, .inner-grid3, .inner-grid4 {
		width: 100%;
		margin-left: 20px;
		padding-bottom: 50px;
	}

	.inner-grid3 {
		margin-left: 0;
	}

	.wrap5 {
		width: 95%;
	}
	
	.inner-grid2 h2, .inner-grid4 h2 {
		height: 2.5em;
    	padding-top: 20px;
    	font-size: 16px;
	}

	.inner-grid1, .development, .young-coders, .cor-affairs {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		width: 100%;
	}

	.courses, .about, .get-in-touch {
		font-size: 12px;
	}

	.wrap2 h1 {
		padding-top: 20px;
	}

	.copyright {
		font-size: 12px;
		padding: 30px 0;
	}

}